// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
}

#front-page {
    height: 100vh;
}

#hello-world {
    font-size: 3rem;
}

#pexels-img-container {
    bottom: 3rem;
    white-space: nowrap;
    position: relative;
}

.pexels-img {
    margin: 0 0.5rem;
    @include border-radius;
}

.pexels-img-group {
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}